
<main dir="rtl">
    <div class="container">

        <nav class="navbar navbar-expand-lg p-3  fixed-top" style="background-color: #cbcfc7;">
            <div class="container">
                <h1 style="color: #647456;">قائمة الطعام</h1>

                
                    <input class="p-1 rounded-3" type="text" placeholder="ابحث" id="p1" [(ngModel)]="inputsearch">
                    
                 
            </div>
        </nav>

        <div class="content">
            <div class="row mt-5">
                <div class="col text-center">
                    
                    <div class="row" style="background-color: #cbcfc7;">
                        <div class="col">
                            <strong style="color: #545b4c;">اجمالي السعر: </strong> <span class="p-2" style="color: #545b4c;"> {{total}} </span>
                        </div>
                        <div class="col">
                            <strong style="color: #545b4c;">عدد الطلبات: </strong> <span class="p-2" style="color: #545b4c;"> {{qty}} </span>
                        </div>

                        <div class="card justify-content-center">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>رقم المنتج</td>
                                            <td>اسم المنتج</td>
                                            <td>سعر المنتج</td>
                                            <td>وصف المنتج</td>
                                            <td>صورة المنتج</td>
                                            <td>اختر</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of search(foodmenu)" class="align-middle">
                                    
                                                <td>{{item.id}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.price}}</td>
                                                <td>{{item.description}}</td>
                                                <td><img [src]= "item.img" alt="" width="150" height="120"></td>
                                                <td><input type="checkbox" (change)="sum($event, item.price)"></td>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>



